# Programation:
* @Lagalapizza_1011, @bittur181

# Idea:
* @lagalapizza_1011

# Realisation:
* @bittur181

# Linguages:
* JS, BatchFile, HTML, Markdown, TXT  

# My inglesh is trash, per l put all my text's in google traductor, google tranlator, etc.
